{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Event Scheduler Page</title>
    <link href="{% static "scheduler/css/bootstrap.min.css" %}" rel="stylesheet">
</head>
<body>
<h1>CA485 Project - Main page</h1>
<h1>All events</h1>
{% if latest_event_list %}
    <ul>
    {% for event in latest_event_list %}
        <li><a href="/{{ event.id }}/">{{ event.name }} - {{  event.event_date }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No events are available.</p>
{% endif %}

<h1>Calendar</h1>

<div id="calendar" width="75%">
  {{ calendar }}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static "scheduler/js/bootstrap.min.js" %}"></script>
</body>
</html>